.container-post {
  width: 100%;
  padding: 3rem;
  background: #f2f2f2;
  border-radius: 1em;
  color: darkslategray;
  display: flex;
  flex-direction: column;
}

.container-post__profile {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  align-items: center;
  width: 100%;
}
.container-post__picture img {
  display: block;
}
.container-post__username p {
  font-weight: 600;
  color: rgb(155, 153, 153);
}
.container-post__content {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  text-align: left;
  gap: 0.3em;
}

.container-post__show-more {
  color: #00acee;
  font-size: smaller;
  margin-bottom: 10px;
}

.container-post--time {
  color: #868585;
}
